* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow Bold', sans-serif;
}

body, html {
    height: 100%;
}

.main {
    width: 100%;
    height: 100vh;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.welcome {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(24, 24, 24);
    z-index: 9;
}

.App {
    /* The image used */
  background: url("../src/assets/swbackground.mp4");

  /* Control the height of the image */
  min-height: 380px;
  margin: 10px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
    position: absolute;
    right: 50%;
    
    margin: 20px;
    max-width: 300px;
    padding: 36px;
    background-color: white;
  }

  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }

  .sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    padding-top: 40px;
    background-color: lightblue;
    }
    
    .sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    }
    
    .body-text {
    margin-left: 150px;
    font-size: 18px;
    }

    tr{
        margin: 20px;
    }

    th{
        margin: 100px;
    }

    table {
        margin-top: 50px;
        border-collapse:separate; 
        border-spacing: 0 1em;
      }

      